.ge-helper {
    float: left;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 95vh;
    width: 80%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.ge-helper-chords {
    height: 100%;
    overflow: auto;
    background: white;
    border-radius: 10px;
    border: 1px solid silver;
}

.ge-helper-chords h1 {
    text-align: center;
}

/*Cancel button styles*/
.ge-helper-cancel-btn {
    padding: 3px;
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    border: 1px solid silver;
    cursor: pointer;
}