.ge-header-form {
  display: flex;
  justify-content: space-between;
}

.ge-header-form .ge-operation{
  display: flex;
  align-items: center;
}

.ge-header-form .ge-operation .ge-embedchord-switch {
  margin-right: 10px;
}

.ge-header-form .ge-operation .ge-embedchord-switch .react-switch-bg > div:first-child {
  padding-left: 7px;
  display: flex;
  align-items: center;
}

.ge-header-form .ge-operation .ge-embedchord-switch .react-switch-bg > div:nth-child(2) {
  display: flex;
  align-items: center;
}

.ge-github {
  margin-right: 10px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  transition: .5s box-shadow;
}

.ge-github:hover {
  box-shadow: 0 5px 50px silver;
}