.ge-previewer-header {
  display: flex;
  justify-content: space-between;
}

/* Keyword styles */
.ge-previewer-header .ge-keyword {
  font-size: .9em;
  color: indianred;
}

/* Meta data styles */
.ge-previewer-header .ge-meta {
  margin: 24px 0 16px;
}

.ge-previewer-header .ge-meta tr td {
  font-size: .8em;
}
