.ge-previewer-header-container {
  margin-top: 30px;
}

/* Section for previewer body */
.ge-previewer-section {
  margin: 5px 0;
}

/* Chord group styles */
.chord-group {
  display: flex;
  flex-wrap: wrap;
}